@font-face {
  src: url(../fonts/Circe-Regular.woff) format('woff');
  font-family: 'Circe';
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Circe-Bold.woff) format('woff');
  font-family: 'Circe';
  font-weight: 600;
}

@font-face {
  src: url(../fonts/Circe-ExtraBold.woff) format('woff');
  font-family: 'Circe';
  font-weight: 800;
}
